In [10]:
import pandas as pd

train_data = pd.read_csv("data\main\df_train_b1.csv",index_col=0)

In [11]:
df_train = train_data.iloc[:, 0:17]
df_train.describe()

,label,basic_1,basic_2,basic_3,basic_4,basic_5,basic_6,basic_7,basic_8,basic_9,basic_10,basic_11,basic_12,basic_13,basic_14,basic_15,loan1_1
count,17999.000000,17999.00000,17999.000000,17999.000000,17999.000000,17999.000000,17999.000000,17999.00000,17999.0,17999.0,17999.000000,17999.0,17999.000000,17999.000000,17999.000000,17999.0,17999.000000
mean,0.033891,-83.13323,-63.085394,-19.020638,5.275127,0.566031,0.805156,40.16262,0.0,0.0,1.719818,0.0,0.000667,-79.459026,1.262237,-99.0,-0.064445
std,0.180953,36.63750,97.374722,332.683845,394.146047,9.457484,9.487904,7.79562,0.0,0.0,10.304256,0.0,0.027882,47.864356,0.439863,0.0,61.692539
min,0.000000,-99.00000,-99.000000,-99.000000,-99.000000,-99.000000,-99.000000,20.00000,0.0,0.0,-99.000000,0.0,0.000000,-99.000000,1.000000,-99.0,-99.000000
25%,0.000000,-99.00000,-99.000000,-99.000000,-99.000000,1.000000,1.000000,34.00000,0.0,0.0,2.000000,0.0,0.000000,-99.000000,1.000000,-99.0,0.000000
50%,0.000000,-99.00000,-99.000000,-99.000000,-99.000000,1.000000,2.000000,40.00000,0.0,0.0,3.000000,0.0,0.000000,-99.000000,1.000000,-99.0,0.000000
75%,0.000000,-99.00000,-99.000000,-99.000000,-99.000000,2.000000,2.000000,46.00000,0.0,0.0,4.000000,0.0,0.000000,-99.000000,2.000000,-99.0,0.000000
max,1.000000,9.00000,1481.000000,7665.000000,7200.000000,7.000000,7.000000,60.00000,0.0,0.0,5.000000,0.0,2.000000,180.000000,2.000000,-99.0,6135.720000

In [12]:
df_train.iloc[:, 3].value_counts()

-99.0      15156
 0.0        1434
 1000.0       40
 500.0        39
 600.0        34
           ...
 494.0         1
 1329.0        1
 561.0         1
 678.0         1
 1456.0        1
Name: basic_3, Length: 549, dtype: int64

In [13]:
for i in range(2, 17):
    print(df_train.iloc[:, i].value_counts())

-99     15157
 121       30
 124       29
 115       29
 62        27
        ...
 267        1
 215        1
 238        1
 320        1
 366        1
Name: basic_2, Length: 344, dtype: int64
-99.0      15156
 0.0        1434
 1000.0       40
 500.0        39
 600.0        34
           ...
 494.0         1
 1329.0        1
 561.0         1
 678.0         1
 1456.0        1
Name: basic_3, Length: 549, dtype: int64
-99.0      15156
 0.0         921
 600.0        50
 500.0        50
 1000.0       47
           ...
 405.0         1
 1302.0        1
 434.0         1
 786.0         1
 1456.0        1
Name: basic_4, Length: 718, dtype: int64
 1     10562
 2      5352
 3      1260
 0       428
 4       208
-99      160
 5        25
 6         3
 7         1
Name: basic_5, dtype: int64
 1     8738
 2     6380
 3     2157
 4      473
-99     160
 5       77
 6       12
 7        2
Name: basic_6, dtype: int64
38    857
39    808
34    796
37    767
33    765
42    755
41    736
36    722
32    717
35    699
47    692
44    682
40    667
43    663
45    661
31    659
46    641
49    605
48    599
50    530
30    525
51    470
52    443
53    383
29    380
28    319
27    300
54    283
26    192
55    175
25    122
56     87
24     72
57     60
23     42
58     37
22     26
59     23
21     19
60     16
20      4
Name: basic_7, dtype: int64
0    17999
Name: basic_8, dtype: int64
0    17999
Name: basic_9, dtype: int64
 2     4491
 3     3909
 1     3319
 5     2800
 4     2761
 0      536
-99     183
Name: basic_10, dtype: int64
0    17999
Name: basic_11, dtype: int64
0    17988
1       10
2        1
Name: basic_12, dtype: int64
-99     15156
 2        734
 3        273
 1        247
 13       133
        ...
 156        1
 94         1
 145        1
 153        1
 107        1
Name: basic_13, Length: 175, dtype: int64
1    13279
2     4720
Name: basic_14, dtype: int64
-99    17999
Name: basic_15, dtype: int64
 0.000000      15666
-99.000000       458
 1.542000          2
 2.870000          2
 0.887600          2
               ...
 14.379400         1
 6.410800          1
 132.288000        1
 5.318000          1
 1.054412          1
Name: loan1_1, Length: 1874, dtype: int64

In [14]:
num_col = ["basic_2",
           "basic_3",
           "basic_4",
           "basic_7",
           "basic_13"]
type_col = ["basic_1",
            "basic_10",
            "basic_12",
            "basic_14"]
drop_col = ["basic_8",
            "basic_9",
            "basic_11",
            "basic_15"]

In [15]:
df_train.drop(columns=drop_col)

,label,basic_1,basic_2,basic_3,basic_4,basic_5,basic_6,basic_7,basic_10,basic_12,basic_13,basic_14,loan1_1
cust_id,,,,,,,,,,,,,
0,0.0,-99,-99,-99.0,-99.0,1,2,37,2,0,-99,1,0.000000
1,0.0,-99,-99,-99.0,-99.0,1,2,49,2,0,-99,1,0.000000
2,0.0,-99,-99,-99.0,-99.0,1,1,52,3,0,-99,2,0.000000
3,0.0,-99,-99,-99.0,-99.0,1,1,54,5,0,-99,1,0.000000
5,0.0,-99,-99,-99.0,-99.0,2,3,33,3,0,-99,1,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24994,0.0,1,70,0.0,544.0,2,5,35,1,0,29,1,1.054412
24995,0.0,-99,-99,-99.0,-99.0,2,2,42,3,0,-99,2,0.000000
24997,0.0,-99,-99,-99.0,-99.0,2,2,55,2,0,-99,2,0.000000
24998,0.0,-99,-99,-99.0,-99.0,1,1,21,4,0,-99,1,0.000000
24999,0.0,-99,-99,-99.0,-99.0,2,2,44,3,0,-99,1,0.000000

In [16]:
from sklearn import model_selection


X = df_train[num_col+type_col]
Y = df_train["label"]
seed = 666
test_size = 0.1
X_train, X_test, y_train, y_test = model_selection.train_test_split(
    X, Y, test_size=test_size, random_state=seed)

In [17]:
import xgboost as xgb

dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

param = {
    'max_depth': 6,
    'eta': 0.1,
    'colsample_bytree':0.8,
    'objective': 'binary:logistic',
    #'eval_metric':'logloss'
}

evallist = [(dtest, 'eval'), (dtrain, 'train')]

num_round = 100
bst = xgb.train(param, dtrain, num_round, evallist, early_stopping_rounds=10)

[0]	eval-logloss:0.61057	train-logloss:0.61057
[1]	eval-logloss:0.54309	train-logloss:0.54302
[2]	eval-logloss:0.48700	train-logloss:0.48691
[3]	eval-logloss:0.43989	train-logloss:0.43974
[4]	eval-logloss:0.39996	train-logloss:0.39970
[5]	eval-logloss:0.36595	train-logloss:0.36553
[6]	eval-logloss:0.33665	train-logloss:0.33619
[7]	eval-logloss:0.31146	train-logloss:0.31086
[8]	eval-logloss:0.28966	train-logloss:0.28895
[9]	eval-logloss:0.27078	train-logloss:0.26994
[10]	eval-logloss:0.25443	train-logloss:0.25343
[11]	eval-logloss:0.24014	train-logloss:0.23900
[12]	eval-logloss:0.22777	train-logloss:0.22650
[13]	eval-logloss:0.21698	train-logloss:0.21552
[14]	eval-logloss:0.20759	train-logloss:0.20596
[15]	eval-logloss:0.19940	train-logloss:0.19756
[16]	eval-logloss:0.19239	train-logloss:0.19023
[17]	eval-logloss:0.18620	train-logloss:0.18387
[18]	eval-logloss:0.18089	train-logloss:0.17834
[19]	eval-logloss:0.17625	train-logloss:0.17343
[20]	eval-logloss:0.17228	train-logloss:0.16912
[21]	eval-logloss:0.16890	train-logloss:0.16539
[22]	eval-logloss:0.16592	train-logloss:0.16213
[23]	eval-logloss:0.16339	train-logloss:0.15932
[24]	eval-logloss:0.16136	train-logloss:0.15678
[25]	eval-logloss:0.15957	train-logloss:0.15459
[26]	eval-logloss:0.15806	train-logloss:0.15269
[27]	eval-logloss:0.15668	train-logloss:0.15110
[28]	eval-logloss:0.15546	train-logloss:0.14965
[29]	eval-logloss:0.15462	train-logloss:0.14824
[30]	eval-logloss:0.15383	train-logloss:0.14709
[31]	eval-logloss:0.15319	train-logloss:0.14613
[32]	eval-logloss:0.15257	train-logloss:0.14531
[33]	eval-logloss:0.15206	train-logloss:0.14458
[34]	eval-logloss:0.15149	train-logloss:0.14393
[35]	eval-logloss:0.15109	train-logloss:0.14332
[36]	eval-logloss:0.15088	train-logloss:0.14278
[37]	eval-logloss:0.15078	train-logloss:0.14234
[38]	eval-logloss:0.15068	train-logloss:0.14182
[39]	eval-logloss:0.15055	train-logloss:0.14147
[40]	eval-logloss:0.15047	train-logloss:0.14114
[41]	eval-logloss:0.15048	train-logloss:0.14076
[42]	eval-logloss:0.15051	train-logloss:0.14044

C:\Users\tassadar667\AppData\Roaming\Python\Python39\site-packages\xgboost\core.py:568: FutureWarning: Pass `evals` as keyword args.  Passing these as positional arguments will be considered as error in future releases.
  warnings.warn(

[43]	eval-logloss:0.15051	train-logloss:0.14022
[44]	eval-logloss:0.15053	train-logloss:0.13991
[45]	eval-logloss:0.15050	train-logloss:0.13969
[46]	eval-logloss:0.15046	train-logloss:0.13951
[47]	eval-logloss:0.15036	train-logloss:0.13926
[48]	eval-logloss:0.15048	train-logloss:0.13898
[49]	eval-logloss:0.15052	train-logloss:0.13878
[50]	eval-logloss:0.15045	train-logloss:0.13852
[51]	eval-logloss:0.15051	train-logloss:0.13839
[52]	eval-logloss:0.15053	train-logloss:0.13829
[53]	eval-logloss:0.15058	train-logloss:0.13821
[54]	eval-logloss:0.15070	train-logloss:0.13803
[55]	eval-logloss:0.15066	train-logloss:0.13795
[56]	eval-logloss:0.15080	train-logloss:0.13782
[57]	eval-logloss:0.15076	train-logloss:0.13772
[58]	eval-logloss:0.15080	train-logloss:0.13766
[59]	eval-logloss:0.15081	train-logloss:0.13763
[60]	eval-logloss:0.15077	train-logloss:0.13743
[61]	eval-logloss:0.15081	train-logloss:0.13741
[62]	eval-logloss:0.15087	train-logloss:0.13734
[63]	eval-logloss:0.15087	train-logloss:0.13722
[64]	eval-logloss:0.15087	train-logloss:0.13719
[65]	eval-logloss:0.15089	train-logloss:0.13716
[66]	eval-logloss:0.15086	train-logloss:0.13708
[67]	eval-logloss:0.15085	train-logloss:0.13698
[68]	eval-logloss:0.15090	train-logloss:0.13691
[69]	eval-logloss:0.15089	train-logloss:0.13683
[70]	eval-logloss:0.15095	train-logloss:0.13677
[71]	eval-logloss:0.15099	train-logloss:0.13669
[72]	eval-logloss:0.15114	train-logloss:0.13660
[73]	eval-logloss:0.15113	train-logloss:0.13634
[74]	eval-logloss:0.15108	train-logloss:0.13620
[75]	eval-logloss:0.15111	train-logloss:0.13617
[76]	eval-logloss:0.15113	train-logloss:0.13607
[77]	eval-logloss:0.15121	train-logloss:0.13596
[78]	eval-logloss:0.15122	train-logloss:0.13588
[79]	eval-logloss:0.15128	train-logloss:0.13575
[80]	eval-logloss:0.15126	train-logloss:0.13568
[81]	eval-logloss:0.15142	train-logloss:0.13551
[82]	eval-logloss:0.15148	train-logloss:0.13534
[83]	eval-logloss:0.15152	train-logloss:0.13527
[84]	eval-logloss:0.15149	train-logloss:0.13517
[85]	eval-logloss:0.15160	train-logloss:0.13502
[86]	eval-logloss:0.15168	train-logloss:0.13499
[87]	eval-logloss:0.15169	train-logloss:0.13489
[88]	eval-logloss:0.15162	train-logloss:0.13481
[89]	eval-logloss:0.15163	train-logloss:0.13472
[90]	eval-logloss:0.15168	train-logloss:0.13469
[91]	eval-logloss:0.15175	train-logloss:0.13463
[92]	eval-logloss:0.15179	train-logloss:0.13460
[93]	eval-logloss:0.15179	train-logloss:0.13450
[94]	eval-logloss:0.15191	train-logloss:0.13439
[95]	eval-logloss:0.15201	train-logloss:0.13434
[96]	eval-logloss:0.15204	train-logloss:0.13432
[97]	eval-logloss:0.15211	train-logloss:0.13423
[98]	eval-logloss:0.15226	train-logloss:0.13409
[99]	eval-logloss:0.15235	train-logloss:0.13394

In [35]:
df_test=pd.read_csv('data\main\df_test_b1.csv',index_col=0)
temp=xgb.DMatrix(df_test[num_col+type_col])
pred_label=list(bst.predict(temp))
pred_label=[1 if i>=0.2 else 0 for i in pred_label]
res=pd.DataFrame({
    'cust_id':list(df_test.index),
    'label':pred_label,
})
res.to_csv("res.csv",encoding="utf-8",index=False)